body {
  background: #FFFFFF;
  margin: 0;
  font-family: Gilroy, serif;
  color: #332F25;
}
p {
  opacity: 0.9;
  margin: 0;
}
a {
  text-decoration: none;
  color: #332F25;
}
a:hover {
  color: #9C448B;
}
.container {
  max-width: 75.375rem;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .container {
    max-width: 60rem;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: calc(100% - 5rem);
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: calc(100% - 2rem);
  }
}
@media (max-width: 590px) {
  .container {
    max-width: calc(100% - 1rem);
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3 {
  margin: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FB5F5A;
  color: white;
  font-family: Gilroy, serif;
  font-size: 0.875rem;
  line-height: 1.04rem;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 14px 14px rgba(251, 95, 90, 0.12);
  border-radius: 6px;
  height: 3rem;
  transition: all 0.4s ease;
}
@media (max-width: 480px) {
  .btn {
    font-size: 0.7rem;
    height: 2.5rem;
  }
}
@media (max-width: 390px) {
  .btn {
    font-size: 0.9rem;
  }
}
.btn:hover {
  box-shadow: 0 14px 14px rgba(251, 95, 90, 0.25);
  filter: contrast(1.2);
  color: #FFFFFF;
}
.footer {
  height: 20rem;
  width: 100%;
  background: #282c2f;
  margin-top: 5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type="date"],
input[type="time"] {
  position: relative;
  font-family: Gilroy, serif;
  font-size: 0.75rem;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.438rem;
  top: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  color: transparent;
  z-index: 10;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
  z-index: -10;
}
input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder {
  z-index: 99;
}
input[type="date"]::placeholder,
input[type="time"]::placeholder {
  z-index: 99;
}
input[type="date"]:not(.has-value):before,
input[type="time"]:not(.has-value):before {
  content: attr(placeholder);
  width: 100%;
}
.modal-info-inactive-input {
  background: #FEFEFE !important;
  border: 1px solid #F1F1F1 !important;
}
body.showModal {
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
}
@media (max-width: 590px) {
  .header {
    flex-direction: column-reverse;
  }
}
@media (max-width: 590px) {
  .header_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.header_nav__logo {
  max-width: 5rem;
  height: auto;
}
@media (max-width: 768px) {
  .header_nav__logo {
    max-width: 3.5rem;
  }
}
@media (max-width: 590px) {
  .header_nav__logo {
    margin-left: 0.5rem;
  }
}
.header_nav__menu {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  font-size: 0.9rem;
}
@media (max-width: 1024px) {
  .header_nav__menu {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .header_nav__menu {
    font-size: 0.7em;
    margin-left: 1rem;
  }
}
@media (max-width: 590px) {
  .header_nav__menu {
    margin-right: 1rem;
  }
}
.header_nav__menu__link {
  padding: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header_nav__menu__link {
    padding: 0 0.3rem;
  }
}
.header_nav {
  display: flex;
}
.header_signup {
  display: flex;
}
@media (max-width: 590px) {
  .header_signup {
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0 0;
    padding: 0.5rem 0;
  }
}
.header_signup__cityBtn {
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0 0;
  padding: 0.43rem 3.125rem 0 0.43rem;
  opacity: 0.9;
  margin-top: -0.43rem;
}
@media (max-width: 768px) {
  .header_signup__cityBtn {
    font-size: 0.7em;
    padding: 0.43rem 3rem 0 0.43rem;
  }
}
@media (max-width: 590px) {
  .header_signup__cityBtn {
    box-shadow: none;
    text-decoration: underline;
  }
}
.header_signup__register {
  color: #FFFFFF;
  background: #ee7560;
  padding: 1rem 1.7rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
.header_signup__register:hover:after {
  left: 200%;
  transition: all 0.5s linear;
}
.header_signup__register:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 94px;
  top: -25px;
  left: -100px;
  background: #FFFFFF;
  opacity: 0.7;
  transform: rotate(45deg);
}
@media (max-width: 768px) {
  .header_signup__register {
    padding: 0.7rem 1rem;
    font-size: 0.6rem;
    margin-right: 1rem;
  }
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'), url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Regular.woff2') format('woff2'), url('../font/Gilroy-Regular.woff') format('woff'), url('../font/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'), url('../font/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-ExtraboldItalic.woff2') format('woff2'), url('../font/Gilroy-ExtraboldItalic.woff') format('woff'), url('../font/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'), url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Bold.woff2') format('woff2'), url('../font/Gilroy-Bold.woff') format('woff'), url('../font/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'), url('../font/Gilroy-Black.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Black.woff2') format('woff2'), url('../font/Gilroy-Black.woff') format('woff'), url('../font/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Light.woff2') format('woff2'), url('../font/Gilroy-Light.woff') format('woff'), url('../font/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'), url('../font/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Semibold.woff2') format('woff2'), url('../font/Gilroy-Semibold.woff') format('woff'), url('../font/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'), url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Medium.woff2') format('woff2'), url('../font/Gilroy-Medium.woff') format('woff'), url('../font/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'), url('../font/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-MediumItalic.woff2') format('woff2'), url('../font/Gilroy-MediumItalic.woff') format('woff'), url('../font/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'), url('../font/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-BlackItalic.woff2') format('woff2'), url('../font/Gilroy-BlackItalic.woff') format('woff'), url('../font/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'), url('../font/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-UltraLight.woff2') format('woff2'), url('../font/Gilroy-UltraLight.woff') format('woff'), url('../font/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'), url('../font/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-RegularItalic.woff2') format('woff2'), url('../font/Gilroy-RegularItalic.woff') format('woff'), url('../font/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'), url('../font/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-SemiboldItalic.woff2') format('woff2'), url('../font/Gilroy-SemiboldItalic.woff') format('woff'), url('../font/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'), url('../font/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-HeavyItalic.woff2') format('woff2'), url('../font/Gilroy-HeavyItalic.woff') format('woff'), url('../font/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'), url('../font/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Extrabold.woff2') format('woff2'), url('../font/Gilroy-Extrabold.woff') format('woff'), url('../font/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'), url('../font/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-BoldItalic.woff2') format('woff2'), url('../font/Gilroy-BoldItalic.woff') format('woff'), url('../font/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'), url('../font/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-UltraLightItalic.woff2') format('woff2'), url('../font/Gilroy-UltraLightItalic.woff') format('woff'), url('../font/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'), url('../font/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-LightItalic.woff2') format('woff2'), url('../font/Gilroy-LightItalic.woff') format('woff'), url('../font/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'), url('../font/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Heavy.woff2') format('woff2'), url('../font/Gilroy-Heavy.woff') format('woff'), url('../font/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'), url('../font/Gilroy-Thin.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-Thin.woff2') format('woff2'), url('../font/Gilroy-Thin.woff') format('woff'), url('../font/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'), url('../font/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../font/Gilroy-ThinItalic.woff2') format('woff2'), url('../font/Gilroy-ThinItalic.woff') format('woff'), url('../font/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Regular.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Italic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Regular.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Italic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Medium.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-MediumItalic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-SemiBold.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Bold.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-BoldItalic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-ExtraBold.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-Black.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/playfair/PlayfairDisplay-BlackItalic.woff2') format('woff2'), url('../font/playfair/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
.breadcrumbs {
  margin-top: 2rem;
  display: flex;
}
.breadcrumbs-el {
  margin-left: 0.5rem;
}
.breadcrumbs-el::before {
  content: "/";
  color: #332F25;
  margin-right: 0.3rem;
}
.breadcrumbs-el:nth-child(1) {
  margin-left: 0;
}
.breadcrumbs-el:nth-child(1)::before {
  content: none;
}
.breadcrumbs-el__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.16rem;
}
.title-block {
  margin-top: 1.9375rem;
}
.title-block__title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .title-block__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .title-block__title {
    font-size: 2rem;
  }
}
.title-block__description {
  max-width: 40rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.415rem;
  opacity: 0.9;
  margin-top: 1.563rem;
}
@media (max-width: 768px) {
  .title-block__description {
    font-size: 0.9rem;
  }
}
.auction-body {
  margin-top: 3.4375rem;
}
.auction-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 590px) {
  .auction-header {
    flex-direction: column-reverse;
  }
}
.auction-tabs-list {
  display: flex;
}
@media (max-width: 590px) {
  .auction-tabs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 390px) {
  .auction-tabs-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.auction-tabs-item {
  display: flex;
  width: 17.5rem;
  justify-items: center;
  position: relative;
}
@media (max-width: 1366px) {
  .auction-tabs-item {
    width: 14rem;
  }
}
@media (max-width: 1024px) {
  .auction-tabs-item {
    width: 11rem;
  }
}
@media (max-width: 768px) {
  .auction-tabs-item {
    width: 8.5rem;
  }
}
@media (max-width: 590px) {
  .auction-tabs-item {
    width: auto;
  }
}
.auction-tabs-item::before {
  content: "";
  background: #332F25;
  width: 100%;
  height: 1px;
  position: absolute;
  opacity: 0.2;
}
.auction-tabs-item:hover:before {
  background: #9C448B;
  opacity: 1;
}
.auction-tabs-item:nth-child(1) .auction-tabs-item__link {
  text-align: left;
}
@media (max-width: 390px) {
  .auction-tabs-item:nth-child(1) .auction-tabs-item__link {
    text-align: center;
  }
}
.auction-tabs-item.active .auction-tabs-item__link {
  color: #9C448B;
}
.auction-tabs-item.active:before {
  background: #9C448B;
  opacity: 1;
}
.auction-tabs-item__link {
  font-family: "Playfair Display", sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
@media (max-width: 1366px) {
  .auction-tabs-item__link {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .auction-tabs-item__link {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .auction-tabs-item__link {
    font-size: 0.7rem;
    line-height: 3.25rem;
  }
}
@media (max-width: 390px) {
  .auction-tabs-item__link {
    font-size: 0.7rem;
    line-height: 2.3rem;
  }
}
.auction-tabs-item__link:hover {
  color: #9C448B;
}
.auction-header__btn {
  width: 17.9375rem;
  height: 3rem;
}
@media (max-width: 1366px) {
  .auction-header__btn {
    width: 14rem;
  }
}
@media (max-width: 1024px) {
  .auction-header__btn {
    width: 11rem;
  }
}
@media (max-width: 768px) {
  .auction-header__btn {
    width: 8rem;
    font-size: 0.7rem;
    height: 2.5rem;
  }
}
@media (max-width: 590px) {
  .auction-header__btn {
    width: 10rem;
    margin-bottom: 1.7rem;
  }
}
@media (max-width: 390px) {
  .auction-header__btn {
    width: auto;
  }
}
.auction-shop {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.0625rem;
}
@media (max-width: 1024px) {
  .auction-shop {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 667px) {
  .auction-shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  .auction-shop {
    margin-top: 1.5rem;
  }
}
@media (max-width: 390px) {
  .auction-shop {
    grid-template-columns: repeat(1, 1fr);
  }
}
.auction-shop-item {
  width: 100%;
  margin-right: 1px;
  max-width: 18rem;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .auction-shop-item {
    max-width: 20rem;
  }
}
@media (max-width: 390px) {
  .auction-shop-item {
    max-width: inherit;
  }
}
.auction-shop-item:hover {
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.12);
}
.shop-item__img {
  width: 100%;
  height: 10.5rem;
  object-fit: cover;
}
@media (max-width: 590px) {
  .shop-item__img {
    height: 8rem;
  }
}
@media (max-width: 480px) {
  .shop-item__img {
    height: 7rem;
  }
}
@media (max-width: 390px) {
  .shop-item__img {
    height: 9rem;
  }
}
.auction-shop-item-info {
  background: rgba(117, 117, 117, 0.03);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.375rem;
  margin-top: -1rem;
}
@media (max-width: 590px) {
  .auction-shop-item-info {
    padding: 0.575rem;
  }
}
.auction-shop-item-info > p {
  font-size: 0.938rem;
  margin-top: 1rem;
}
@media (max-width: 1366px) {
  .auction-shop-item-info > p {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .auction-shop-item-info > p {
    margin-top: 0.7rem;
  }
}
@media (max-width: 390px) {
  .auction-shop-item-info > p {
    font-size: 1rem;
  }
}
@media (max-width: 1366px) {
  .auction-shop-item-info .shop-item__date {
    font-size: 0.65rem;
  }
}
@media (max-width: 768px) {
  .auction-shop-item-info .shop-item__date {
    font-size: 0.5rem;
  }
}
@media (max-width: 390px) {
  .auction-shop-item-info .shop-item__date {
    font-size: 0.8rem;
  }
}
.auction-shop-item-info .shop-item__title {
  font-size: 1.5rem;
}
@media (max-width: 1366px) {
  .auction-shop-item-info .shop-item__title {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .auction-shop-item-info .shop-item__title {
    font-size: 1rem;
  }
}
@media (max-width: 390px) {
  .auction-shop-item-info .shop-item__title {
    font-size: 1.7rem;
  }
}
.auction-shop-item-info > div {
  margin-top: 1rem;
}
@media (max-width: 480px) {
  .auction-shop-item-info > div {
    margin-top: 0.7rem;
  }
}
@media (max-width: 390px) {
  .auction-shop-item-info > div {
    margin-top: 1rem;
  }
}
.auction-shop-item-info .shop-item__bet-title {
  margin-top: 1.75rem;
}
@media (max-width: 590px) {
  .auction-shop-item-info .shop-item__bet-title {
    margin-top: 1rem;
  }
}
.auction-shop-item-info .shop-item-bet {
  margin-top: 0.313rem;
}
.shop-item__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 1;
  margin-top: 1rem;
}
.shop-item__date {
  color: #9B9B9B;
  font-weight: 500;
  line-height: 1rem;
  border: 1px solid #9B9B9B;
  border-radius: 0.3rem;
  padding: 0.375rem 0.375rem 0.375rem 1.5rem;
  width: fit-content;
  position: relative;
  margin-bottom: 0.313rem;
}
.shop-item__date:before {
  content: url("../icon/clock.png");
  position: absolute;
  left: 0.3rem;
  top: 0.45rem;
}
.shop-item__date.active {
  color: #9C448B;
  border: 1px solid #9C448B;
}
.shop-item__date.active:before {
  content: url("../icon/clock-color.png");
}
.info-block-with-img {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}
.info-block-with-img img {
  width: 1.375rem;
  height: 1.313rem;
}
.info-block-with-img p {
  margin-left: 0.688rem;
  max-width: 10rem;
}
@media (max-width: 1366px) {
  .info-block-with-img p {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .info-block-with-img p {
    font-size: 0.7rem;
  }
}
@media (max-width: 480px) {
  .info-block-with-img p {
    font-size: 0.65rem;
  }
}
@media (max-width: 390px) {
  .info-block-with-img p {
    font-size: 0.9rem;
    max-width: inherit;
  }
}
.info-block-with-img .hover {
  filter: grayscale();
}
.shop-item-adress img {
  margin-top: -0.625rem;
}
@media (max-width: 390px) {
  .shop-item-adress img {
    margin-top: 0;
  }
}
.shop-item-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-item__bet-amount {
  font-size: 2rem;
}
@media (max-width: 1366px) {
  .shop-item__bet-amount {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .shop-item__bet-amount {
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  .shop-item__bet-amount {
    font-size: 2.2rem;
  }
}
.shop-item__bet-step {
  opacity: 0.9;
}
@media (max-width: 1366px) {
  .shop-item__bet-step {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .shop-item__bet-step {
    font-size: 0.7rem;
  }
}
@media (max-width: 390px) {
  .shop-item__bet-step {
    font-size: 1.2rem;
  }
}
.auction-participate__btn {
  margin: 1.625rem 0 1rem;
}
.auction-participate__btn:not(.active) {
  background: #F1F1F1;
  color: #6B6B6B;
  box-shadow: none;
  cursor: auto;
  pointer-events: none;
}
.cake-content {
  margin-top: 2rem;
  display: flex;
}
@media (max-width: 390px) {
  .cake-content {
    flex-direction: column;
    margin-top: 1rem;
  }
}
.cake-content-info-bottom.mobile {
  display: none;
}
@media (max-width: 590px) {
  .cake-content-info-bottom.mobile {
    display: flex;
  }
}
.cake-content-images__main-img {
  display: flex;
  flex-direction: column;
}
.cake-content-images__main__img {
  width: 17.688rem;
  height: 14.563rem;
}
@media (max-width: 768px) {
  .cake-content-images__main__img {
    width: 13.5rem;
  }
}
@media (max-width: 480px) {
  .cake-content-images__main__img {
    width: 10.5rem;
    height: 10.563rem;
  }
}
@media (max-width: 390px) {
  .cake-content-images__main__img {
    width: 100%;
    height: 14.563rem;
  }
}
.cake-content-images__main__img img {
  max-width: 100%;
  object-fit: contain;
}
.cake-content-images-slider {
  margin-top: 0.625rem;
  width: 17.688rem;
}
@media (max-width: 768px) {
  .cake-content-images-slider {
    width: 13.5rem;
  }
}
@media (max-width: 480px) {
  .cake-content-images-slider {
    width: 10.5rem;
  }
}
@media (max-width: 390px) {
  .cake-content-images-slider {
    width: 17.688rem;
    display: none;
  }
}
.cake-content-images-slider img {
  width: 4rem;
  height: 3.313rem;
  cursor: pointer;
  object-fit: cover;
}
@media (max-width: 480px) {
  .cake-content-images-slider img {
    width: 3rem;
  }
}
@media (max-width: 390px) {
  .cake-content-images-slider img {
    width: 5.5rem;
    height: 4rem;
  }
}
.cake-content-info {
  margin-left: 2.813rem;
}
@media (max-width: 768px) {
  .cake-content-info {
    margin-left: 2rem;
  }
}
@media (max-width: 390px) {
  .cake-content-info {
    margin-left: 0.5rem;
  }
}
.cake-content-info-top {
  display: flex;
}
@media (max-width: 768px) {
  .cake-content-info-top {
    flex-direction: column;
  }
}
.cake-info-main__title {
  margin-top: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  grid-area: a;
}
@media (max-width: 1366px) {
  .cake-info-main__title {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .cake-info-main__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cake-info-main__title {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 390px) {
  .cake-info-main__title {
    margin-top: 0.5rem;
  }
}
.cake-info-main__date {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  grid-area: b;
}
@media (max-width: 1024px) {
  .cake-info-main__date {
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .cake-info-main__date {
    margin-top: 0;
    max-height: 1rem;
  }
}
@media (max-width: 590px) {
  .cake-info-main__date {
    margin-top: 0.755rem;
  }
}
@media (max-width: 480px) {
  .cake-info-main__date {
    padding: 0.175rem 0.375rem 0.175rem 1.5rem;
  }
  .cake-info-main__date:before {
    top: 0.2rem;
  }
}
@media (max-width: 390px) {
  .cake-info-main__date {
    padding: 0.275rem 0.375rem 0.225rem 1.5rem;
    font-size: 0.7rem;
  }
  .cake-info-main__date:before {
    top: 0.35rem;
  }
}
.cake-info-main__bet-title {
  margin-top: 1.938rem;
  font-size: 0.875rem;
  grid-area: c;
}
@media (max-width: 1024px) {
  .cake-info-main__bet-title {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cake-info-main__bet-title {
    margin-top: 1rem;
  }
}
@media (max-width: 780px) {
  .cake-info-main__bet-title {
    margin-top: 0.4rem;
  }
}
.cake-info-main__bet-amount {
  margin-top: 0.313rem;
}
@media (max-width: 1024px) {
  .cake-info-main__bet-amount {
    margin-top: 0;
  }
}
.cake-info-main__bet {
  font-size: 0.875rem;
  grid-area: d;
}
@media (max-width: 768px) {
  .cake-info-main__bet {
    justify-content: start;
  }
}
.cake-info-advanced {
  margin-left: 5.25rem;
  margin-top: 0.225rem;
}
.cake-info-advanced .info-block-with-img {
  margin-top: 0.875rem;
}
@media (max-width: 480px) {
  .cake-info-advanced .info-block-with-img {
    margin-top: 0.675rem;
  }
}
.cake-info-advanced .info-block-with-img p {
  max-width: max-content;
}
@media (max-width: 390px) {
  .cake-info-advanced .info-block-with-img p {
    max-width: 15rem;
  }
}
.cake-info-advanced .info-block-with-img img {
  margin-top: 0;
}
@media (max-width: 1024px) {
  .cake-info-advanced {
    margin-left: 2.5rem;
  }
}
@media (max-width: 768px) {
  .cake-info-advanced {
    margin-left: 0;
  }
}
.cake-content-info-bottom {
  margin-top: 2rem;
  font-size: 0.875rem;
  max-width: 45.625rem;
}
@media (max-width: 1024px) {
  .cake-content-info-bottom {
    font-size: 0.75rem;
  }
}
@media (max-width: 590px) {
  .cake-content-info-bottom.desktop {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cake-info-main__bet-step {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .cake-info-main__bet-step {
    margin-left: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cake-info-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "c c" "d d";
  }
}
@media (max-width: 590px) {
  .cake-info-main {
    grid-template-areas: "a a" "b b" "c c" "d d";
  }
}
.cake-bets-container {
  margin-top: 4.938rem;
  display: flex;
}
@media (max-width: 590px) {
  .cake-bets-container {
    margin-top: 2.938rem;
  }
}
@media (max-width: 480px) {
  .cake-bets-container {
    flex-direction: column;
  }
}
.cake-bets-left {
  background-color: rgba(117, 117, 117, 0.05);
  border-radius: 1rem;
  width: 14rem;
  height: 27.938rem;
  padding: 0 1.938rem 0 3.125rem;
}
@media (max-width: 1024px) {
  .cake-bets-left {
    padding: 0 0.938rem 0 2.125rem;
  }
}
@media (max-width: 768px) {
  .cake-bets-left {
    height: 20.938rem;
  }
}
@media (max-width: 590px) {
  .cake-bets-left {
    padding: 0 0.938rem 0 1.525rem;
  }
}
@media (max-width: 480px) {
  .cake-bets-left {
    width: calc(100% - 2.5rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a" "b c" "b c" "d e" "d e" "f f";
    height: 14.325rem;
  }
}
.cake-bets-left p {
  font-size: 1rem;
  font-family: Gilroy, serif;
  font-weight: 400;
}
.cake-bets-container__title {
  font-family: Playfair Display, serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-top: 2.688rem;
  grid-area: a;
}
@media (max-width: 768px) {
  .cake-bets-container__title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
@media (max-width: 590px) {
  .cake-bets-container__title {
    line-height: 1.8rem;
  }
}
.cake-bet-step__title {
  margin-top: 1.8rem;
  grid-area: b;
}
@media (max-width: 768px) {
  .cake-bet-step__title {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .cake-bet-step__title {
    margin-top: 1.5rem;
  }
}
.cake-bet-step-panel {
  display: flex;
  margin-top: 0.625rem;
  grid-area: c;
}
@media (max-width: 480px) {
  .cake-bet-step-panel {
    justify-content: end;
  }
}
.step-panel__btn {
  background: #E2E2E2;
  width: 3.813rem;
  height: 2.563rem;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .step-panel__btn {
    width: 2.813rem;
  }
}
@media (max-width: 590px) {
  .step-panel__btn {
    width: 2rem;
  }
}
.step-panel__min {
  border-radius: 0 5.625rem 5.625rem 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.step-panel__plus {
  border-radius: 0 5.625rem 5.625rem 0;
}
.step-panel__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F1F1F1;
  width: 6.375rem;
  height: 2.563rem;
}
@media (max-width: 768px) {
  .step-panel__amount {
    width: 4.813rem;
  }
}
.cake-your-bet-title {
  margin-top: 1.938rem;
  grid-area: d;
}
@media (max-width: 480px) {
  .cake-your-bet-title {
    margin-top: 1.6rem;
  }
}
.cake-your-bet {
  font-size: 2.25rem;
  font-family: Gilroy, serif;
  grid-area: e;
}
@media (max-width: 768px) {
  .cake-your-bet {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .cake-your-bet {
    margin-top: 1.2rem;
    text-align: right;
    margin-right: 0.5rem;
  }
}
.cake-action-btn {
  margin-top: 1.438rem;
  margin-bottom: 2.938rem;
  width: 13.938rem;
  grid-area: f;
}
@media (max-width: 768px) {
  .cake-action-btn {
    width: 10.813rem;
  }
}
@media (max-width: 590px) {
  .cake-action-btn {
    width: 8.813rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 480px) {
  .cake-action-btn {
    width: 100%;
    height: 2.7rem;
  }
}
.cake-bets-right {
  background-color: rgba(117, 117, 117, 0.05);
  border-radius: 1rem;
  width: 55.313rem;
  margin-left: 1rem;
  padding: 0 2.375rem 2rem;
}
@media (max-width: 768px) {
  .cake-bets-right {
    padding: 0 1.375rem 2rem;
  }
}
@media (max-width: 480px) {
  .cake-bets-right {
    width: calc(100% - 2.5rem);
    margin-left: 0;
    margin-top: 0.8rem;
    padding: 0 0.938rem 1.525rem 1.525rem;
  }
}
.cake-bets-list__item {
  margin-top: 1rem;
  background: #F1F1F1;
  padding: 1.5rem;
  border-radius: 0.563rem;
}
.bets-list-item-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .bets-list-item-top {
    flex-direction: column-reverse;
  }
}
.bets-list-item-person {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .bets-list-item-person {
    margin-top: 1.2rem;
  }
}
.bets-list-item-person img {
  width: 1.375rem;
  height: 1.375rem;
}
.bets-list-item-person p {
  font-size: 1rem;
  margin-left: 0.438rem;
}
.bets-list-item__time {
  font-size: 1rem;
}
.bets-list-item__bet {
  margin-top: 1rem;
  font-size: 1rem;
  color: black;
}
@media (max-width: 768px) {
  .bets-list-item__bet {
    margin-top: 0.5rem;
  }
}
.modal-shadow {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
}
.modal {
  background: #fff;
  border-radius: 1.25rem;
  width: 61.875rem;
  height: 85vh;
  padding-bottom: 3.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@media (max-height: 1280px) {
  .modal {
    overflow-y: scroll;
    border-radius: 0.85rem;
    scrollbar-color: #FB5F5A #ffffff;
    scrollbar-width: thin;
  }
  .modal::-webkit-scrollbar {
    width: 10px;
  }
  .modal::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0 1.25rem 1.25rem 0;
  }
  .modal::-webkit-scrollbar-thumb {
    background-color: #FB5F5A;
    border-radius: 1.25rem;
  }
}
.modal-close {
  color: black;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.375rem;
  right: 2.375rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}
@media (max-width: 590px) {
  .modal-close {
    top: 1.375rem;
    right: 1.375rem;
  }
}
.modal-title {
  font-family: Playfair Display, serif;
  font-weight: 400;
  color: #332F25;
  font-size: 3rem;
  text-align: center;
  margin-top: 3.125rem;
}
@media (max-width: 768px) {
  .modal-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .modal-title {
    font-size: 2rem;
  }
}
@media (max-width: 390px) {
  .modal-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .modal {
    width: 43.875rem;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 34.875rem;
  }
}
@media (max-width: 590px) {
  .modal {
    width: 27.875rem;
  }
}
@media (max-width: 480px) {
  .modal {
    width: 22.875rem;
  }
}
@media (max-width: 390px) {
  .modal {
    width: 18.875rem;
  }
}
.modal-container {
  padding: 0 6.375rem;
}
@media (max-width: 1024px) {
  .modal-container {
    padding: 0 1.375rem;
  }
}
.modal-header__title {
  font-family: Gilroy, serif;
  font-size: 0.85rem;
  margin-top: 0.625rem;
}
.select-usable {
  width: 100%;
  background-color: #F1F1F1;
  height: 3.003rem;
  margin-top: 0.507rem;
  font-family: Gilroy, serif;
  font-size: 0.75rem;
  color: #767676;
  padding-left: 1.125rem;
  border-radius: 0.375rem;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../icon/select-arrow.png');
  background-repeat: no-repeat, repeat;
  background-position: right 2.125rem top 50%, 0 0;
  background-size: 0.688rem auto, 100%;
}
@media (max-width: 768px) {
  .select-usable {
    background-position: right 0.525rem top 50%, 0 0;
  }
}
.select-usable:focus {
  border-color: #aaa;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-usable::-ms-expand {
  display: none;
}
.select-usable:hover {
  border-color: #888;
}
.modal-body {
  display: flex;
  margin-top: 0.875rem;
}
@media (max-width: 590px) {
  .modal-body {
    flex-direction: column;
  }
}
.modal-images {
  width: 14.75rem;
  margin-top: 1.35rem;
}
.modal-images img {
  border-radius: 0.25rem;
}
@media (max-width: 1024px) {
  .modal-images {
    width: 10.75rem;
  }
}
@media (max-width: 590px) {
  .modal-images {
    display: flex;
  }
}
@media (max-width: 590px) {
  .modal-images {
    width: 7.75rem;
  }
}
.modal-images-main__img {
  width: 100%;
  height: 12.063rem;
}
@media (max-width: 768px) {
  .modal-images-main__img {
    height: 9.063rem;
  }
}
@media (max-width: 590px) {
  .modal-images-main__img {
    margin-right: 0.625rem;
  }
}
@media (max-width: 480px) {
  .modal-images-main__img {
    height: 6.063rem;
  }
}
.modal-pictures {
  margin-top: 0.602rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
@media (max-width: 768px) {
  .modal-pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.3rem;
  }
}
@media (max-width: 590px) {
  .modal-pictures {
    margin-top: 0;
  }
}
.modal-pictures__img {
  width: 3.313rem;
}
@media (max-width: 768px) {
  .modal-pictures__img:last-child {
    display: none;
  }
}
@media (max-width: 390px) {
  .modal-pictures__img:nth-child(3) {
    display: none;
  }
}
.modal-info__title {
  font-size: 0.75rem;
}
.download-img {
  margin-top: 0.513rem;
  width: 100%;
  position: relative;
}
.download-img::before {
  content: url("../icon/download-small.png");
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0.563rem;
  top: 0.921rem;
}
@media (max-width: 768px) {
  .download-img {
    font-size: 0.7rem;
    justify-content: right;
    padding-right: 0.6rem;
  }
}
@media (max-width: 390px) {
  .download-img {
    font-size: 0.55rem;
  }
  .download-img:before {
    display: none;
    padding: 0;
  }
}
.modal-info {
  margin-left: 1.688rem;
  width: 32.688rem;
}
.modal-info input,
.modal-info textarea {
  background: #F1F1F1;
  color: #767676;
  padding: 1.125rem;
  border: transparent;
  margin-top: 0.5rem;
  width: calc(100% - 2.5rem);
  border-radius: 0.375rem;
  font-size: 0.75rem;
}
.modal-info input::placeholder,
.modal-info textarea::placeholder {
  opacity: 0.8;
}
@media (max-width: 590px) {
  .modal-info {
    margin-top: 1rem;
    margin-left: 0;
    width: auto;
  }
}
.modal-info-sem {
  margin-top: 0.813rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem;
}
.modal-info-quarter {
  margin-top: 0.813rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}
@media (max-width: 1024px) {
  .modal-info-quarter {
    grid-template-columns: repeat(2, 1fr);
  }
}
.input-semi-sem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input-semi-sem .datepicker-type input,
.input-semi-sem .clock-type input {
  max-width: 4.275rem;
}
@media (max-width: 1024px) {
  .input-semi-sem .datepicker-type input,
  .input-semi-sem .clock-type input {
    max-width: 8.275rem;
  }
}
@media (max-width: 768px) {
  .input-semi-sem .datepicker-type input,
  .input-semi-sem .clock-type input {
    max-width: 5.875rem;
  }
}
@media (max-width: 590px) {
  .input-semi-sem .datepicker-type input,
  .input-semi-sem .clock-type input {
    max-width: 8.475rem;
  }
}
@media (max-width: 480px) {
  .input-semi-sem .datepicker-type input,
  .input-semi-sem .clock-type input {
    max-width: 5.975rem;
  }
}
@media (max-width: 390px) {
  .input-semi-sem .datepicker-type input,
  .input-semi-sem .clock-type input {
    max-width: 4.075rem;
  }
}
@media (max-width: 1024px) {
  .input-semi-sem {
    grid-template-columns: repeat(1, 1fr);
  }
}
.currency-type {
  position: relative;
}
.label-for-currency-type {
  position: absolute;
  top: 1.5rem;
  right: 1.066rem;
}
.datepicker-type,
.clock-type {
  position: relative;
}
.datepicker-type input,
.clock-type input {
  padding-left: 2rem;
  max-width: 12.025rem;
}
@media (max-width: 1024px) {
  .datepicker-type input,
  .clock-type input {
    max-width: 8.275rem;
  }
}
@media (max-width: 768px) {
  .datepicker-type input,
  .clock-type input {
    max-width: 5.875rem;
  }
}
@media (max-width: 590px) {
  .datepicker-type input,
  .clock-type input {
    max-width: 8.475rem;
  }
}
@media (max-width: 480px) {
  .datepicker-type input,
  .clock-type input {
    max-width: 5.975rem;
  }
}
@media (max-width: 390px) {
  .datepicker-type input,
  .clock-type input {
    max-width: 4.075rem;
  }
}
@media (max-width: 390px) {
  .filling-radio {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .radio-element {
    font-size: 0.65rem !important;
  }
}
.label-for-datepicker-type,
.label-for-clock-type {
  position: absolute;
  width: 1.388rem;
  height: 1.388rem;
  left: 0.438rem;
  top: 1.405rem;
}
p.radio-button {
  margin-left: 1.625rem;
  position: relative;
  cursor: pointer;
}
p.radio-button:before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.75rem;
  background-color: #F1F1F1;
  left: -1.7rem;
  top: -0.2rem;
}
p.radio-button.active:before {
  background-color: #FB5F5A;
}
p.radio-button.active:after {
  position: absolute;
  content: "";
  background-color: #F1F1F1;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 1.75rem;
  left: -1.4rem;
  top: 0.1rem;
}
.row-with-radio {
  margin-top: 1rem;
}
.row-with-radio input,
.row-with-radio select {
  margin-top: 0.7rem;
}
.modal-info-standard-weight__title:after {
  top: 0.15rem !important;
}
.modal-info-standard-thing__title:after {
  top: 0.15rem !important;
  left: -1.35rem !important;
}
.delivery-address {
  margin-top: 0.813rem;
}
.checkbox_input {
  margin-left: 2.125rem;
  position: relative;
  margin-top: 1.188rem;
  cursor: pointer;
  font-size: 0.875rem;
  opacity: 0.9;
}
.checkbox_input:before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: #FB5F5A;
  left: -2.125rem;
  top: -0.1rem;
}
.checkbox_input:after {
  position: absolute;
  content: url("../icon/check.svg");
  width: 1.25rem;
  height: 1.25rem;
  left: -1.725rem;
  top: -0.1rem;
}
.checkbox_input.inactive:before {
  background-color: transparent;
  border: 1px solid #F1F1F1;
}
.delivery-price {
  margin-top: 1.163rem;
}
.modal-info-description {
  margin-top: 0.813rem;
}
.description__input {
  height: 5.188rem;
  font-family: Gilroy, sans-serif;
}
.create-auction {
  margin-top: 1.25rem;
  width: 13.938rem;
}
.policy-warning {
  font-family: Gilroy, sans-serif;
  font-size: 0.875rem;
  opacity: 0.9;
  margin-top: 0.75rem;
}
.policy-warning a {
  color: #FB5F5A;
  font-weight: 600;
}
.modal-info-quarter .label-for-currency-type {
  top: 1.65rem;
}
.modal-notification {
  position: fixed;
  top: 40%;
  width: 25.625rem;
  height: 27.688rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
@media (max-width: 480px) {
  .modal-notification {
    width: 20.625rem;
  }
}
@media (max-width: 390px) {
  .modal-notification {
    width: 17.625rem;
  }
}
.modal-notification p {
  opacity: 1;
}
.modal-notification .modal-container {
  width: 15.938rem;
  padding: 0;
  margin-top: 3.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-notification .modal-container .modal-title {
  font-size: 2.5rem;
  line-height: 2.875rem;
  margin-top: 0;
}
@media (max-width: 390px) {
  .modal-notification .modal-container .modal-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
.modal-notification .last-bet__title {
  margin-top: 0.95rem;
  font-size: 0.875rem;
}
.modal-notification .last-bet__value {
  margin-top: 0.563rem;
  font-size: 2rem;
  font-weight: 400;
}
.modal-notification .last-bet-step-panel {
  margin-top: 1rem;
}
.modal-notification .btn {
  margin-top: 1.125rem;
  width: 13.938rem;
}
.modal-notification .your-bet {
  margin-top: 0.75rem;
}
.modal-shadow-notification {
  position: fixed;
}
/*# sourceMappingURL=main.css.map */